@media screen and (min-width: 850px) {
    h2 {
        padding: 7.5px;
    }
    
    img {
        width: 95%;
    }
    
    .section-header h3 {
        font-size: 1.3em;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .coke {
        grid-column: 3/4;
    }
}