@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Nunito Sans', sans-serif;
}

header, footer {
    background-color: #562500;
    color: #f0e7dd;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-top-bar {
    display: flex;
}

header img {
    width: 100px;
}

header h1 {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    margin: auto;
}

#social-header {
    display: none;
}

/* Hamburger menu */
#menu-button {
    margin: 10px;
    align-self: center;
    height: 30px;
    width: 30px;
    background-color: #562500;
    color: #f0e7dd;
    border: 1px solid;
}

#navbar {
    display: none;
}

#navbar.active {
    display: flex;
    flex-direction: column;
}

#menu-open {
    display: block;
}

#menu-open.active {
    display: none;
}

#menu-close {
    display: none;
}

#menu-close.active {
    display: block;
}
/* End hamburger menu */

#current-date {
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 13px 4px;
    padding: 6px;
    border: 1px solid #441e00;
    text-align: center;
}

header h2 {
    margin: 0px;
    font-size: 1rem;
}

header ul {
    padding-inline-start: 0px;
}

header ul li {
    list-style: none;
    width: 100%;
    text-align: center;
}

header ul li a:hover {
    color: black;
    background-color: blanchedalmond;
}

header ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    text-align: center;
}

/* Main */

main {
    padding: 10px;
    background-color: #f0e7dd;
}

#cells {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

main section {
    background-color: #e3d3c6;
    padding: 10px;
}

.outer {
    height: 250px;
    border: 1px solid #562500;
}

#hero {
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

#img-container {
    text-align: center;
    width: 100%;
    height: auto;
    background-image: url("./images/mod-arch.jpeg");
    background-size: cover;
    background-position: center;
    grid-row: 1/3;
    grid-column: 1/2;
}

#hero h1 {
    color: white;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
}

#hero button {
    background-color: #f0e7dd;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 12px;
    align-self: center;
    justify-self: center;
    width: 40%;
    height: 30%;
    grid-row: 2/3;
    grid-column: 1/2;
}

#hero button:hover {
    opacity: 0.9;
}

#events {
    text-align: center;
}

#weather {
    width: 300px;
    height: auto;
}

#weather h2 {
    text-align: center;
}

#weather-group1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#weather-group1 img {
    width: 80px;
    margin: 0 auto;
}

#weather-group1 p {
    font-size: 25px;
    text-align: center;
}

#climate {
    font-size: 20px;
    margin: 10px 15px 10px auto;
    text-align: right;
}

#wind-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#windspeed-label {
    text-align: right;
}

#windspeed-value {
    text-align: center;
}

#windchill-label {
    text-align: right;
}

#windchill-value {
    text-align: center;
}

#news {
    text-align: center;
}

#join {
    display: none;
}

#spotlights {
    background-color: #dec9b8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    height: auto;
}

.spotlight-header {
    display: flex;
    flex-direction: row;
}

.spotlight-header img {
    width: 35%;
    margin: auto 0 auto auto;
}

.inner h4 {
    text-align: center;
}

.inner p {
    text-align: center;
}

#spotlight3 {
    display: none;
}

.inner {
    height: 250px;
    border: 1px solid #562500;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

footer img {
    width: 80px;
    margin: 0px auto;
}

footer h3 {
    font-size: 17px;
    margin: 10px auto 5px auto;
}

footer h4 {
    margin: 0px auto 20px auto;
}

footer a {
    margin: 0px auto 0px auto;
}

#social-footer {
    margin: auto;
}

#social-footer a img {
    margin: auto 10px;
    width: 20px;
}

hr {
    width: 90%;
}

footer h5 {
    margin: 4px auto;
}

.pipe {
    display: none;
}

a {
    text-decoration: none;
    color: #f0e7dd;
}