@media screen and (min-width: 850px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }

    #menu-button {
        display: none;
    }

    #navbar {
        display: flex;
    }

    #header-logo {
        object-fit:cover;
    }

    #social-header {
        display: flex;
        flex-direction: column;
    }

    #social-header a img {
        margin: 10px 30px;
        width: 45px;
    }

    header ul {
        display: flex;
        flex-direction: row;
    }

    #home-cells {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto auto;
    }

    .discover-img {
        width: 60%;
    }

    #events {
        height: 250px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #events h2 {
        font-size: 1.8rem;
    }

    #events h3 {
        font-size: 20px;
    }

    #events p {
        font-size: 16px;
    }

    #hero {
        height: 560px;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #img-container {
        height: 100%;
    }

    #spotlights {
        height: 770px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .spotlight-header h2 {
        font-size: 25px;
    }

    .inner h4 {
        font-size: 15px;
    }

    .inner p {
        font-size: 14px;
    }

    #spotlight1 {
        grid-row: 1/2;
    }

    #spotlight2 {
        grid-row: 2/3;
    }

    #spotlight3 {
        display: block;
        grid-row: 3/4;
    }

    .inner {
        width: 100%;
        height: 243px;
    }

    #weather {
        width: 100%;
        height: 300px;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #weather hr {
        margin: 0 10px;
    }

    #join {
        height: 200px;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #news {
        height: 200px;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #news h2 {
        font-size: 30px;
    }

    #news p {
        font-size: 15px;
    }

    form label.sbs {
        padding: 0.4rem 0;
    }

    form label.top input, form label.top textarea, form label.top select {
        max-width: 20rem;
    }

    form input.submitBtn {
        max-width: 10rem;
    }

    #join-and-info {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 2fr;
    }

    #perks {
        margin-top: 8px;
    }

    footer h3 {
        font-size: 25px;
    }

    footer h4 {
        font-size: 20px;
    }

    footer h5 {
        font-size: 17px;
    }

    #social-footer {
        display: none;
    }
}