header {
    display: flex;
    align-items: center;
    background-color: #76abc5;
    color: black;
    border: 1px black solid;
    border-radius: .5rem;
}

header img {
    margin: 1rem;
}

main h2 {
    text-align: center;
}

p {
    margin: 1rem;
}

.content{
    margin: 0 auto;
    max-width: 640px;
    background-color: #a3c0d3;
}

#name {
    margin: 60px 110px;
    font-size: 40px;
}

footer {
    align-items: center;
    background-color: #76abc5;
    color: black;
    border: 1px black solid;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
}